.r-panel a:active {
  text-decoration: none;
}
.r-panel a:hover {
  text-decoration: none;
  background-color: transparent;
}
.r-panel a {
  text-decoration: none;
  display: block;
}
.panel-body a:visited {
  color: #337ab7;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.merchant_register {
  background-color: #80deea;
}

.buyer_register {
}
#error_explanation h2 {
  display: none;
}
#error_explanation > ul,
> span {
  background: #ff8a80;
  border-radius: 4px;
  padding: 3px;
}
.form_error {
  background: #ff8a80;
  border-radius: 4px;
  padding: 3px;
  width: 100%;
}
.item {
  height: 400px !important;
  overflow: hidden;
}
.logout > a {
  display: block !important;
  width: 100%;
}
